html {
    box-sizing: border-box;
}

*,
*::after,
*:before {
    box-sizing: inherit;
}

body {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

button {
    border: none;
    padding: 0;
    border-radius: 0%;
    cursor: pointer;
}

.button {
    background-color: #FFBD59;
    padding: 18px 54px;
    font-family: Comfortaa;
    font-size: 14px;
    font-weight: 600;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

h3,
h2,
h4 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.section {
    margin-bottom: 150px;
}

.title {
    font-family: Yeseva One;
    font-size: 40px;
    font-weight: 400;
}

.container {
    max-width: 1180px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.menu__btn {
    display: none;
    height: 25px;
    width: 30px;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}

.menu__btn span {
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.header {
    background-color: #FFF8F3;
}

.header__inner {
    background-color: #FFF8F3;
}

.header__inner {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    gap: 20px;
}

.menu__list-item {
    text-transform: uppercase;
}

.phone {
    position: relative;
}

.phone__link::before {
    content: '';
    /* display: inline-block; */
    position: absolute;
    background-image: url(../images/phone.svg);
    height: 20px;
    width: 20px;
    top: -3px;
    left: -23px;
}

.section__decor {
    position: relative;
}

.section__decor::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 33px;
    background-image: url(../images/section-decor.png);
    background-size: cover;
    left: 0;
    bottom: 0;
}

.section__decor::after {
    content: '';
    position: absolute;
    width: 1000%;
    height: 1px;
    background-color: #7B6152;
    left: 22px;
    bottom: 13px;
}

.section__descr {
    width: 372px;
}












.main {
    background-color: #FFF8F3;
    overflow-x: clip;
}

.top {
    padding: 46px 0 150px;
}

.top__inner {
    position: relative;
}

.top__content {
    padding: 150px 0 270px;
    width: 370px;
}

.top__title {
    font-family: 'Yeseva One', serif;
    font-size: 30px;
    font-weight: 400;
}

.top__text {
    padding: 15px 0 48px;

}

.top__buy {
    background-color: #FFBD59;
    padding: 18px 54px;
    font-family: Comfortaa;
    font-size: 14px;
    font-weight: 600;
}

.top__img {
    position: absolute;
    top: 0;
    left: 264px;
}



.about {
    background-color: #A5978E;
    color: #FAFAFA;
    padding: 50px 0 60px;
}

.about__inner {
    display: flex;
    align-items: center;
}

.about__content {
    min-width: 370px;
}

.title {
    margin-bottom: 15px;
}

.about__text {
    margin-bottom: 15px;
}

.about__list {
    padding-left: 110px;
    padding-bottom: 48px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-basis: 930px;
}

.section__decor {
    position: relative;
}

.section__decor::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 33px;
    background-image: url(../images/section-decor.png);
    background-size: cover;
    left: 0;
    bottom: 0;
}

.section__decor::after {
    content: '';
    position: absolute;
    width: 1000%;
    height: 1px;
    background-color: #7B6152;
    left: 22px;
    bottom: 13px;
}

.about__item-text {
    padding-top: 10px;
    font-size: 11px;
}

.section__inner {
    display: grid;
    grid-template-columns: 370px auto;
    gap: 70px;
}


.section__content-descr {
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 80px;
}

.products__content {
    gap: 50px 90px;
}

.products__item {
    width: 290px;
    text-align: center;
    margin: 0 auto;
}


.products__item-img {
    margin-bottom: 8px;
}

.products__item-price {
    font-family: Yeseva One;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
}

.products__item-title {
    font-family: Yeseva One;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.products__item-text {
    font-size: 12px;
    margin-bottom: 27px;
    height: 39px;
}


.steps__section-inner {
    gap: 20px;
}

.steps__list {
    gap: 70px 25px;
    counter-reset: number;
}

.steps__item {
    display: flex;
    gap: 40px;
    list-style-type: none;
    position: relative;
}

.steps__item::before {
    counter-increment: number;
    content: '0' counter(number);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 30px;
    color: #BEA495;
    font-family: Yeseva One;
}

.steps__item:nth-child(n+10)::before {
    content: counter(number);
}

.steps__item.steps__item--even::before {
    left: auto;
    right: 0;
}

.steps__item-text {
    flex-basis: 174px;
    padding-bottom: 40px;
}

.courses__item-img {
    padding-bottom: 15px;
}


.team {
    background-color: #A5978E;
    color: #fff;
    padding: 80px 0 60px;
    margin-bottom: 150px;
}

.team__section-inner {
    gap: 60px;
}

.team__content {
    padding-bottom: 0;
    gap: 75px;
}

.team__item {
    position: relative;
}

.team__item-box {
    position: absolute;
    z-index: 4;
    background-color: #7B6152;
    padding: 14px 8px;
    width: 162px;
    text-align: center;
    bottom: 13px;
    right: 33px;
}

.team__item-name {
    font-family: Yeseva One;
    font-size: 12px;
    padding-bottom: 3px;
}

.team__item-descr {
    font-size: 11px;
}

.feedback__section-inner {
    gap: 20px;
}

.feedback__content {
    padding-bottom: 115px;
    width: 700px;
    margin: 0 auto;
}

.feedback__slider {
    overflow: hidden;
    width: inherit;
}

.feedback__item {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 16px;
    align-items: center;
}

.feedback-img{
    width: 100%;
}

.feedback__item-video {
    position: relative;
}

.feedback__item-videobtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}

.feedback__item-content {
    padding-bottom: 40px;
}

.feedback__item-sociallink {
    margin-bottom: 12px;
}

.feedback__item-name {
    margin-bottom: 15px;
    font-size: 16px;
    font-family: Yeseva One;
}

.feedback__item-text {
    margin-bottom: 15px;
    width: 90%;
}

.feedback__content .swiper-pagination {
    bottom: 70px;
}

.swiper-pagination-bullet {
    width: 53px;
    height: 4px;
    background-color: #BEA495;
    border-radius: 0;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #7B6152;
}

.certificates__inner {
    gap: 20px;
}

.certificates__slider {
    width: 1135px;
    overflow: hidden;
}

.certificates__content {
    padding-bottom: 114px;
}

.certificates__content .swiper-pagination {
    bottom: 60px;
}


.accordeon__item {
    background-color: #fff;
    margin-bottom: 10px;
}

.accordeon__title {
    font-size: 16px;
    font-family: Yeseva One;
    text-align: left;
    background-color: transparent;
    display: block;
    width: 100%;
    padding: 16px 50px 16px 13px;
    position: relative;
}

.accordeon__title::after {
    content: '';
    background-image: url(../images/arrov.svg);
    width: 16px;
    height: 16px;
    position: absolute;
    right: 26px;
    top: 17px;
}

.accordeon__title.accordeon__title--active::after {
    transform: rotate(180deg);
}

.accordeon__text {
    opacity: 0;
    max-height: 0;
    transition: opacity .3s, max-height .3s;
}

.accordeon__text ol {
    padding: 20px 40px;
}

.accordeon__text.accordeon__text--visible {
    opacity: 1;
}

.promo {
    background-image: url(../images/promo-img.jpg);
    padding: 140px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.promo__inner {
    display: flex;
    align-items: center;
}

.promo__text {
    font-size: 40px;
    font-family: Yeseva One;
    color: #fff;
    padding-left: 56px;
    max-width: 765px;
    margin-right: 110px;
}

.promo__link {
    color: #272727;
    background-color: #FFBD59;
    display: inline-block;
    padding: 14px 25px 12px;
    min-width: 170px;
    text-align: center;
}

.contacts {
    padding: 150px 50px;
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    background-color: #fff;
    min-width: 664px;
    padding: 75px 42px 67px;
}

.form__title {
    font-size: 40px;
    font-family: Yeseva One;
    margin-bottom: 60px;
}

.form__input {
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    padding: 7px 10px;
    color: #000;
}

.form__input::placeholder {
    color: #B3B3B3;
    font-size: 14px;
    font-family: Comfortaa;
}

.form__btn {
    color: #272727;
    background-color: #FFBD59;
    display: inline-block;
    padding: 17px 34px;
    font-family: Comfortaa;
    font-size: 14px;
    margin-top: 36px;
}









.footer {
    padding-top: 40px;
    padding-bottom: 35px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer__contacts {
    display: flex;
    flex-direction: column;
    width: 230px;
    justify-content: space-between;
}


.email {
    margin: 17px 0;
}

.footer__social {
    display: flex;
    gap: 15px;

}




@media (max-width: 1050px) {
    .steps__list {
        gap: 37px 35px;
    }

    .steps__item {
        gap: 0 30px;
    }

    .form{
        min-width: 480px;
    }

    .contacts__inner{
        gap: 20px;
    }
}




@media (max-width: 1000px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .top__content {
        width: 333px;
        padding: 77px 0 88px;
    }

    .top__img-l {
        width: 655px;
    }

    .top__img {
        left: 310px;
    }

    .about__content {
        min-width: 300px;
    }

    .about__list {
        padding-left: 20px;
    }

    .section__text {
        font-size: 10px;
    }

    .products__content {
        gap: 67px;
    }

    .section__inner {
        grid-template-columns: 260px auto;
        gap: 24px;
    }

    .section__content-descr {
        padding-bottom: 60px;
    }

    .section__descr {
        width: 260px;
    }

    .team {
        padding-bottom: 50px;
    }

    .team__content {
        gap: 30px 20px;
    }

    .button {
        padding: 20px 35px;
    }

    .title {
        font-size: 34px;
    }

    .feedback__content {
        width: 600px;
    }

    .feedback__content .swiper-pagination {
        bottom: 70px;
    }

    .certificates__slider{
        width: 850px;
    }

    .certificates-img{
        width: 280px;
    }

    .promo__text {
        margin-right: 10px;
    }

    .promo__link{
        min-width: 135px;
    }

    .contacts__img{
        width: 335px;
    }


}

@media (max-width: 980px) {
    .title {
        font-size: 30px;
    }

    .steps__list {
        gap: 25px 35px;
    }

    .steps__item {
        gap: 0 20px;
    }

    .steps__item-img {
        width: 85px;
        object-fit: cover;
    }

    .steps__item-text {
        font-size: 8px;
    }

    .steps__item::before {
        font-size: 20px;
    }

    .section__descr {
        width: 200px;
    }



}



@media (max-width: 900px) {
    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__contacts {
        padding-top: 15px;
        width: 100%;
        text-align: center;
    }

    .footer__social {
        justify-content: center;
    }

    .section__inner {
        grid-template-columns: 200px auto;
        gap: 16px;
    }

    .products__content {
        gap: 30px 16px;
    }

    .section__content-descr {
        padding-bottom: 60px;
    }

    .feedback__content{
        width: 500px;
        padding-bottom: 80px;
    }

    .feedback__content .swiper-pagination {
        bottom: 50px;
    }

    .feedback__item-sociallink img{
        width: 12px;
    }

    .feedback__item-name {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .feedback__item-text{
        font-size: 10px;
    }

    .button {
        padding: 15px 20px;
        font-size: 8px;
    }

    .certificates__inner{
        gap: 35px;
    }

    .certificates__slider{
        width: 620px;
    }

    .certificates-img{
        width: 200px;
    }

    .promo{
        padding: 90px 0;
    }

    .promo__text{
        font-size: 20px;
        margin-right: 50px;
    }

    .promo__link{
        font-size: 12px;
    }

    .form {
        min-width: 440px;
    }

    .form__title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .contacts__img {
        width: 265px;
    }

}

@media (max-width: 768px) {
    body {
        font-size: 10px;
    }

    .container {
        max-width: 640px;
    }

    .phone__link::before {
        height: 14px;
        width: 14px;
        top: -2px;
        left: -16px;
        background-size: cover;
    }

    .top__content {
        width: 236px;
    }

    .top__title {
        font-size: 20px;
    }

    .top__text {
        padding: 20px 0;
    }

    .top__img {
        left: 180px;
    }


    .about__content {
        min-width: 200px;
    }

    .about__title {
        margin-bottom: 20px;
        font-size: 15px;
    }

    .about__text {
        font-size: 10px;
    }

    .about__list {
        padding-left: 21px;
        margin-left: 27px;
        margin-bottom: 33px;
        gap: 10px;
    }

    .about__item-text {
        padding-top: 6px;
        font-size: 6px;
    }

    .about__item-img-1,
    .about__item-img-3 {
        width: 120px;
    }

    .about__item-img-2 {
        width: 191px;
    }

    .products__item {
        width: 200px;
    }

    .products__item-img {
        width: 188px;
        margin-bottom: 6px;
    }

    .products__item-price {
        font-size: 12px;
        margin-bottom: 7px;
    }

    .products__item-title {
        font-size: 12px;
        margin-bottom: 9px;
    }

    .products__item-text {
        font-size: 8px;
        margin-bottom: 19px;
        height: 27px;
    }

    .button {
        font-size: 12px;
        padding: 10px 26px;
    }

    .title {
        font-size: 15px;
    }

    .courses__item,
    .courses__item-img {
        width: 195px;
    }

    .team__img {
        width: 140px;
    }

    .team__item-box {
        padding: 9px 6px;
        width: 109px;
        bottom: 8px;
        right: -24px;
    }

    .team__item-name {
        font-size: 8px;
    }

    .feedback__content{
        padding-bottom: 50px;
    }

    .team__item-descr {
        font-size: 7px;
    }

    .feedback__item {
        grid-template-columns: 40% 50%;
        align-items: start;
    }

    .certificates__inner {
        gap: 16px;
    }

    .swiper-pagination-bullet{
        width: 35px;
    }

    .certificates__content {
        padding-bottom: 90px;
    }

    .promo {
        padding: 60px 0;
    }

    .form{
        min-width: 400px;
        padding: 20px 18px 30px;
    }

    .contacts__img {
        width: 200px;
    }

    .contacts {
        padding: 100px 50px;
    }

}




@media (max-width: 640px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 620px;
    }

    .header__menu-list {
        flex-direction: column;
        gap: 20px 0;
        padding: 25px 35px 25px 45px;
        background-color: #7B6152;
        width: 153px;
        color: #FFF8F3;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-110%);
        transition: transform .5s ease;
        z-index: 5;
    }

    .header__menu-list.menu--open {
        transform: translateY(0%);
    }

    .menu__btn {
        display: flex;
    }

    .header__menu {
        order: 1;
    }

    .section {
        margin-bottom: 50px;
    }

    .section__inner {
        display: block;
    }

    .section__descr {
        text-align: center;
        margin: 0 auto 30px;
        width: 300px;
    }

    .section__content-descr {
        padding-bottom: 60px;
    }

    .steps__list {
        gap: 25px 40px;
    }

    .team__item-box {
        right: auto;
        left: 80px;
    }

    .feedback__item{
        justify-content: center;
    }

    .promo__text {
        font-size: 15px;
    }

    .promo__link {
        font-size: 8px;
        min-width: 80px;
        padding: 10px 16px;
    }

    .contacts__img{
        display: none;
    }

    .form{
        margin: 0 auto;
        min-width: 100%;
    }

    .contacts {
        padding: 65px 15px;
    }

    

    

}

@media (max-width: 500px) {

    .footer__inner {
        flex-direction: column;
    }

    .footer__menu {
        text-align: center;
        padding: 50px 0;
    }

    .footer__menu-list {
        flex-direction: column;
    }

    .footer {
        padding: 50px 0;
        font-size: 14px;
    }
}


@media (max-width: 480px) {
    .container {
        max-width: 460px;
    }

    .top__img-l {
        width: 309px;
    }

    .top__img {
        left: 167px;
    }

    .top__content {
        width: 168px;
    }

    .top__title {
        font-size: 15px;
    }

    .top__text {
        font-size: 8px;
        padding: 15px 0;
    }

    .top__buy {
        padding: 14px 41px;
        font-size: 10px;
    }

    .top {
        padding: 30px 0 50px;
    }

    .about {
        padding: 50px 0 35px;
        margin-bottom: 50px;
    }

    .about__content {
        min-width: 172px;
    }

    .about__list {
        padding-left: 12px;
        padding-bottom: 60px;
        margin-left: 0;
        margin-bottom: 0;
        gap: 5px;
        align-items: end;
    }

    .about__item-text {
        display: none;
    }

    .about__item-img-1,
    .about__item-img-3 {
        width: 80px;
    }

    .about__item-img-2 {
        width: 140px;
    }

    .section {
        margin-bottom: 50px;
    }

    .section__descr {
        width: 300px;
        margin: 0 auto 30px;
    }

    .team {
        margin-bottom: 50px;
    }

    .feedback__item{
        grid-template-rows: 1fr;
        grid-template-columns: 80%;
        margin: 0 auto;
    }

    .feedback__item-content{
        text-align: center;
    }

    .feedback__item-text{
        margin: 0 auto 15px;
    }

    .feedback__content {
        width: 300px;
        padding-bottom: 55px;
    }

    .button{
        font-size: 8px;
    }


}

@media (max-width: 404px) {
    .steps__list {
        gap: 20px 25px;
    }

    .steps__item {
        gap: 0 16px;
    }

    .steps__item-img {
        width: 66px;
    }

    .steps__item::before {
        font-size: 12px;
    }

    .steps__item-text {
        padding-bottom: 15px;
    }

    .courses__content {
        grid-template-columns: auto;
    }

    .courses__item,
    .courses__item-img {
        width: 255px;
    }

    .team__content {
        grid-template-columns: auto;
    }

    .team__img {
        width: 204px;
    }

    .team__item-box {
        bottom: 15px;
        right: 148px;
        width: 150px;
    }

    .team__item-name {
        font-size: 12px;
    }

    .team__item-descr {
        font-size: 10px;
    }

    .promo__text{
        margin-right: 10px;
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 340px;
    }

    .top__img-l {
        width: 180px;
    }

    .top__img {
        left: auto;
        right: -15px;
        top: -15px;
    }

    .top__content {
        width: 200px;
        padding: 20px 0 0;
    }

    .top__title {
        font-size: 18px;
    }

    .top__text {
        font-size: 10px;
        padding: 15px 0;
    }


    .about {
        padding: 25px 0 10px;
    }

    .about__content {
        min-width: 234px;
    }

    .title {
        margin-bottom: 10px;
    }

    body {
        font-size: 8px;
    }

    .about__text {
        font-size: 8px;
        margin-bottom: 10px;
    }

    .about__list {
        margin-left: 16px;
        padding: 14px 0 42px 9px;
    }

    .about__item-img-2,
    .about__item-img-3 {
        display: none;
    }

    .about__item-img-1 {
        width: 80px;
    }

    .section__descr {
        width: 235px;
        margin: 0 auto 25px;
    }

    .products__content {
        gap: 41px 7px;
    }

    .products__item {
        width: 150px;
    }

    .products__item-img {
        width: 140px;
        margin-bottom: 4px;
    }

    .products__item-price {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .products__item-title {
        margin-bottom: 7px;
        font-size: 10px;
    }

    .products__item-text {
        height: 21px;
        margin-bottom: 16px;
        font-size: 6px;
    }

    .button {
        padding: 11px 22px;
        font-size: 8px;
    }

    .steps__item-text {
        font-size: 6px;
    }

    .courses__content {
        grid-template-columns: auto;
    }

    .courses__item,
    .courses__item-img {
        width: 255px;
    }
}